<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Sign Up From</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" size="32*32" href="../../../Assets/images/favicon/ZomatoLogo.jpg">
    <!-- Font awsome cdn link -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->

    <!-- Css Link -->
    <link rel="stylesheet" href="../signUp/signUp.css">
</head>

<body>
    <div class="wrapper">
        <h1>Sign Up</h1>
        <form action="">
            <input type="Full Name" id="fullname" placeholder="Full Name" size="20"><br>
            <input type="email" id="email" placeholder="John123@gmail.com" size="20">

            <input type="password" id="password" placeholder="Password" size="20">
            <input type="Re-Enter password" id="Re-Enter password" placeholder="Re-Enter Password" size="20">
        </form>
        <div class="terms">
            <input type="checkbox" name="checkbox" id="checkbox">
            <label for="checkbox">I agree to these <a href="../Terms And Services/terms.html">Terms And Services </a>,<a href="">Privacy Policy</a><br>And <a
                    href="">Content Policies</a></label>
        </div>
        <a href=""><button>Create Account</button></a>
        <div class="member">
           <a href=""><button><img src="../../../Assets/images/pngs/google.png" alt=""><span>Continue With Google</span></a></button><br>
           <p> Already a Have An Account?<a href="../login/login.html">Login</a></p>
        </div>
    </div>
</body>

</html>