<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Sign Up From</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/png" size="32*32" href="../../../Assets/images/favicon/ZomatoLogo.jpg">
    <!-- Font awsome cdn link -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->

    <!-- Css Link -->
    <link rel="stylesheet" href="../signUp/signUp.css">
</head>

<body>
    <div class="wrapper">
        <h1>Login</h1>
        <form action="">
            <!-- <input type="Full Name" id="fullname" placeholder="e.g Full Name" size="20"><br> -->
            <input type="Email" id="email" placeholder="Email" size="20">
            <input type="password" id="password" placeholder="Password" size="20">
            <!-- <input type="Re-Enter password" id="Re-Enter password" placeholder="e.g Xh12@Jkl" size="20"> -->
        </form>
        <div class="terms">
            <a href="">Forget Password</a>
        </div>
        <a href=""><button>Create Account</button></a>
        <div class="member">
            <button><img src="../../../Assets/images/pngs/google.png" alt=""><span>Continue With
                    Google</span></button><br>
            <p> New To Zomato?<a href="../signUp/signUp.html"> Sign Up</a></p>
        </div>
    </div>
</body>

</html>