<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Services</title>
    
    <!-- FAVICON -->
    <link rel="icon" type="image/png" size="32*32" href="../../../Assets/images/favicon/ZomatoLogo.jpg">


    <!-- css link -->
    <link rel="stylesheet" href="../Terms And Services/terms.css">

</head>

<body>
    <div class="text-container">
        <h6>Terms of Service</h6>
        <p>I. Acceptance of terms</p>
        <p>Thank you for using Zomato. These Terms of Service (the "Terms") are intended to make you aware of your legal
            rights and responsibilities with respect to your access to and use of the Zomato website at www.zomato.com
            (the "Site") and any related mobile or software applications ("Zomato Platform") including but not limited
            to delivery of information via the website whether existing now or in the future that link to the Terms
            (collectively, the "Services").</p>

    </div>

</body>

</html>